<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figurenblatt - Bjarnfinnur Haberdson</title>
    <link rel="stylesheet" href="export_format_a4_quer.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="header-left">Figurenblatt</span>
            <span class="header-right">Datum: 10.11.2024</span>
        </div>
        
        <div class="title-row">
            <img src="headerimg.png" alt="Schmuckgrafik" class="header-decoration">
            <div class="info-box">
                <div><strong>Figur</strong> &nbsp; Bjarnfinnur Haberdson</div>
                <hr>
                <div><strong>Spieler</strong> &nbsp; Nomo Sikeron</div>
            </div>
            <img src="headerimg.png" alt="Schmuckgrafik" class="header-decoration">
        </div>
        
        <div class="flex main-content">
            <div class="left-section">
            <div class="col">
                <!-- left column block Chartype -->
                <div class="margin-bottom-3">
                    <div><strong>Typ</strong> Thaumaturg &nbsp;&nbsp; <strong>Grad</strong> 18</div>
                    <div><strong>Spezialisierung</strong> _______________________</div>
                </div>
                <!-- left column block stats1 -->
                <div class="margin-bottom-3">
                    <div class="attr-box"><div class="attr-label">St</div><div class="attr-value">79</div></div>
                    <div class="attr-box"><div class="attr-label">Gs</div><div class="attr-value">80</div></div>
                    <div class="attr-box"><div class="attr-label">Gw</div><div class="attr-value">37</div></div>
                </div>
                <!-- left column block stats2 -->
                <div class="margin-bottom-3">
                    <div class="attr-box"><div class="attr-label">Ko</div><div class="attr-value">82</div></div>
                    <div class="attr-box"><div class="attr-label">In</div><div class="attr-value">96</div></div>
                    <div class="attr-box"><div class="attr-label">Zt</div><div class="attr-value">74</div></div>
                </div>
                <!-- left column block stats3 -->
                <div class="margin-bottom-3">
                    <div class="attr-box"><div class="attr-label">Au</div><div class="attr-value">69</div></div>
                    <div class="attr-box"><div class="attr-label">pA</div><div class="attr-value">69</div></div>
                    <div class="attr-box"><div class="attr-label">Wk</div><div class="attr-value">91</div></div>
                </div>
                <!-- left column block stats4 -->
                <div class="margin-bottom-3">
                    <div class="attr-box attr-box-80"><div class="attr-label">B</div><div class="attr-value">23</div></div>
                    <div class="attr-box attr-box-100"><div class="attr-label">Raufen</div><div class="attr-value">+ 5</div></div>
                </div>
                <!-- left column block boni -->
                <div class="margin-top-5">
                    <div><strong>persönlicher Bonus für:</strong></div>
                    <div class="margin-top-2">
                        <div class="bonus-row"><span>Ausdauer <u>11</u></span><span>Schaden <u>2</u></span><span>Angriff <u>0</u></span></div>
                        <div class="bonus-row"><span>Abwehr <u>0</u></span><span>Resistenz <u>4/3</u></span><span>Zaubern <u>0</u></span></div>
                    </div>
                </div>
            </div>
            <!-- center column block Charinfo -->
            <div class="col">
                <table class="charinfo">
                    <tr>
                        <td><strong>Geburtsdatum</strong></td>
                        <td>__________</td>
                    </tr>
                    <tr>
                        <td><strong>Alter</strong></td>
                        <td><u>28</u> rechts. händig</td>
                    </tr>
                    <tr>
                        <td><strong>Größe</strong></td>
                        <td>173 cm</td>
                    </tr>
                    <tr>
                        <td><strong>Gestalt</strong></td>
                        <td>mittel, normal Gewicht 77 kg</td>
                    </tr>
                    <tr>
                        <td><strong>Stand</strong></td>
                        <td>Mittelschicht</td>
                    </tr>
                    <tr>
                        <td><strong>Heimat</strong></td>
                        <td>Waeland</td>
                    </tr>
                    <tr>
                        <td><strong>Glaube</strong></td>
                        <td>Fiongrún</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Besondere Merkmale:</strong><br/><br/><br/><br/><br/><br/><br/><br/></td>
                    </tr>
                </table>
            </div>
            <!-- left column block LPAP -->
            <div class="margin-top-5">
                <div class="attr-box attr-box-100"><div class="attr-label">LP-Max.</div><div class="attr-value">17</div></div>
                <div class="attr-box attr-box-100"><div class="attr-label">AP-Max.</div><div class="attr-value">61</div></div>
                <div class="attr-box attr-box-80"><div class="attr-label">GG</div><div class="attr-value">0</div></div>
                <div class="attr-box attr-box-80"><div class="attr-label">SG</div><div class="attr-value">9</div></div>
            </div>
            <!-- left column block History -->
            <div class="margin-top-5">
                <table class="history-table">
                    <tr>
                        <th>Datum</th>
                        <th>24.11.2014</th>
                        <th>30.11.2024</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                    <tr>
                        <td>ES</td>
                        <td>6829</td>
                        <td>7249</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>EP</td>
                        <td>6829</td>
                        <td>849</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Geld</td>
                        <td>15034</td>
                        <td>19814</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b><center>Datum</center></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ES</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>EP</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Geld</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            </div>
            <!-- right1 column block Fertigkeiten -->
            <div class="right-section">
                <div class="skills-content">
                <div class="skills-title">Liste der gelernten und angeborenen Fertigkeiten</div>
                <div class="skills-container">
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>Abwehr</td><td>+ 15</td><td></td></tr>
                        <tr><td>Resistenz</td><td>+ 15/1</td><td></td></tr>
                        <tr><td>Richtungssinn</td><td>+ 12</td><td></td></tr>
                        <tr><td>Alchimie</td><td>+ 8</td><td></td></tr>
                        <tr><td>Beredsamkeit</td><td>+ 9</td><td></td></tr>
                        <tr><td>Einhandschlagwaffen</td><td>+ 7</td><td></td></tr>
                        <tr><td>Fallen entdecken</td><td>+ 8</td><td></td></tr>
                        <tr><td>Fallenmechanik</td><td>+ 8</td><td></td></tr>
                        <tr><td>Gaukeln</td><td>+ 12</td><td></td></tr>
                        <tr><td>Geschäftssinn</td><td>+ 8</td><td></td></tr>
                        <tr><td>Landeskunde Zwerge</td><td>+ 8</td><td></td></tr>
                        <tr><td>Landeskunde Waeland</td><td>+ 8</td><td></td></tr>
                        <tr><td>Lesen von Zauberschrift</td><td>+ 14</td><td></td></tr>
                        <tr><td>Naturkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Pflanzenkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Reiten</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schlösser öffnen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Schreiben Waeliska</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schreiben</td><td>+ 8</td><td></td></tr>
                        <tr><td>Sprache Comentang</td><td>+ 12</td><td></td></tr>
                        <tr><td>Sprache Waeliska</td><td>+ 18</td><td></td></tr>
                        <tr><td>Sprache Valinga</td><td>+ 9</td><td></td></tr>
                        <tr><td>Sprache Twynedisch</td><td>+ 10</td><td></td></tr>
                        <tr><td>Sprache Dvarska</td><td>+ 8</td><td></td></tr>
                        <tr><td>Sprache Alaisch</td><td>+ 8</td><td></td></tr>
                        <tr><td>Stichwaffen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Thaumagraphie</td><td>+ 10</td><td></td></tr>
                        <tr><td>Thaumalogie</td><td>+ 8</td><td></td></tr>
                        <tr><td>Wagenlenken</td><td>+ 12</td><td></td></tr>
                        <tr><td>Zauberkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Zaubern</td><td>+ 17</td><td></td></tr>
                        <tr><td>Zauberstäbe</td><td>+ 11</td><td></td></tr>
                    </table>
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                    </table>
                </div>
                </div>
                <div class="senses-row">                    <span><b>Sehen</b> +0</span><span><b>Nachtsicht</b> +0</span><span><b>Hören</b> +0</span><span><b>Riechen/Schmecken</b> +0 &nbsp; <b>Sechster Sinn</b> +0</span>                </div>
            </div>
        </div>
    </div>
</body>
</html>