<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ausrüstungsblatt - Bjarnfinnur Haberdson</title>
    <link rel="stylesheet" href="shared/export_format_a4_quer.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="header-left">Ausrüstungsblatt</span>
            <span class="header-right">Datum: 10.11.2024</span>
        </div>
        
        <div class="title-row">
            <img src="shared/images/headerimg.png" alt="Schmuckgrafik" class="header-decoration">
            <div class="info-box">
                <div><strong>Figur</strong> &nbsp; Bjarnfinnur Haberdson &nbsp; <strong>Grad</strong> &nbsp; 18</div>
                <hr>
                <div><strong>Typ</strong> &nbsp; Thaumaturg &nbsp; <strong>Zaubern</strong> &nbsp; + 17</div>
            </div>
            <img src="shared/images/headerimg.png" alt="Schmuckgrafik" class="header-decoration">
        </div>
        
        <div class="flex main-content">
            <!-- Left section: Character icon, currency, and small containers -->
            <div class="equipment-left">
                <div class="char-icon-section">
                    <img src="token_bebe.png" alt="Charakter" class="char-icon">
                </div>
                <table class="currency-table">
                    <tr>
                        <td><strong>GS</strong></td>
                        <td>48</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>SS</strong></td>
                        <td>0</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>KS</strong></td>
                        <td>0</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                
                <!-- Section: Becher, Holz -->
                <table class="equipment-section">
                    <tr>
                        <th colspan="2">Becher, Holz</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="weight-total"><strong>Gewicht 0,05 von 0,3 kg</strong></td>
                    </tr>
                </table>
                
                <!-- Section: Wasserschlauch -->
                <table class="equipment-section">
                    <tr>
                        <th colspan="2">Wasserschlauch</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="weight-total"><strong>Gewicht 0,1 von 5,1 kg</strong></td>
                    </tr>
                </table>
            </div>
            
            <!-- Right section: Equipment sections -->
            <div class="equipment-right">
                <!-- Section: Am Körper getragen -->
                <table class="equipment-section">
                    <tr>
                        <th colspan="2">Am Körper getragen</th>
                    </tr>
                    <tr>
                        <td>Panzerkette*</td>
                        <td>4 Meter lange Metallkette mit Runenverzierungen. Kann auf dem Boden in beliebiger Form ausgelegt werden und mit dem Zauberschild aktiviert werden. Dann erscheint der Zauberschild über der gesamten Länge der Kette und auch exakt in der ausgelegten Form. Solange der Zauber wirkt, kann die Kette nicht wieder aufgehoben werden. ABW: 10</td>
                    </tr>
                    <tr>
                        <td>Dolch</td>
                        <td>0,5 kg - 5,0 GS</td>
                    </tr>
                    <tr>
                        <td>Dolch*<br>(+1/+1)</td>
                        <td>0,5 kg - 5,0 GS<br>Blutbefreier</td>
                    </tr>
                    <tr>
                        <td>Dolch</td>
                        <td>0,5 kg - 5,0 GS</td>
                    </tr>
                    <tr>
                        <td>Dolch</td>
                        <td>0,5 kg - 5,0 GS<br>Todbringer</td>
                    </tr>
                    <tr>
                        <td>Magierstab</td>
                        <td>1,5 kg - 15,0 GS<br>Vilbrair</td>
                    </tr>
                    <tr>
                        <td>Streitaxt</td>
                        <td>2,5 kg - 20,0 GS<br>Brustöffner</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="weight-total"><strong>Gewicht 6,0 von 20,0 kg</strong></td>
                    </tr>
                </table>
                
                <!-- Section: Gürteltasche, Leder -->
                <table class="equipment-section">
                    <tr>
                        <th colspan="2">Gürteltasche, Leder</th>
                    </tr>
                    <tr>
                        <td>Blasrohrnadel (20)</td>
                        <td>0,4 kg - 2,0 GS</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="weight-total"><strong>Gewicht 0,41 von 1,01 kg</strong></td>
                    </tr>
                </table>
                
                <!-- Section: Lederrucksack -->
                <table class="equipment-section">
                    <tr>
                        <th colspan="2">Lederrucksack</th>
                    </tr>
                    <tr>
                        <td>Decke, warm</td>
                        <td>2,0 kg - 4,0 GS</td>
                    </tr>
                    <tr>
                        <td>Pergament (1)</td>
                        <td>0,05 kg - 1,0 GS</td>
                    </tr>
                    <tr>
                        <td>Schreibpinsel</td>
                        <td>0,02 kg - 0,5 GS</td>
                    </tr>
                    <tr>
                        <td>Siegelwachs</td>
                        <td>0,25 kg - 1,0 GS</td>
                    </tr>
                    <tr>
                        <td>Tusche (1)</td>
                        <td>0,05 kg - 2,0 GS</td>
                    </tr>
                    <tr>
                        <td>Zeichenkohle (1)</td>
                        <td>0,03 kg - 0,1 GS</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="weight-total"><strong>Gewicht 2,9 von 25,5 kg</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
