<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figurenblatt - Bjarnfinnur Haberdson</title>
    <link rel="stylesheet" href="shared/export_format_a4_quer.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="header-left">Figurenblatt</span>
            <span class="header-right">Datum: 10.11.2024</span>
        </div>
        
        <div class="title-row">
            <img src="shared/images/headerimg.png" alt="Schmuckgrafik" class="header-decoration">
            <div class="info-box">
                <div><strong>Figur</strong> &nbsp; Bjarnfinnur Haberdson</div>
                <hr>
                <div><strong>Spieler</strong> &nbsp; Nomo Sikeron</div>
            </div>
            <img src="shared/images/headerimg.png" alt="Schmuckgrafik" class="header-decoration">
        </div>
        
        <div class="flex main-content">
            <div class="left-section">
                <div class="skills-content">
                <div class="skills-container">
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>Abwehr</td><td>+ 15</td><td></td></tr>
                        <tr><td>Resistenz</td><td>+ 15/1</td><td></td></tr>
                        <tr><td>Richtungssinn</td><td>+ 12</td><td></td></tr>
                        <tr><td>Alchimie</td><td>+ 8</td><td></td></tr>
                        <tr><td>Beredsamkeit</td><td>+ 9</td><td></td></tr>
                        <tr><td>Einhandschlagwaffen</td><td>+ 7</td><td></td></tr>
                        <tr><td>Fallen entdecken</td><td>+ 8</td><td></td></tr>
                        <tr><td>Fallenmechanik</td><td>+ 8</td><td></td></tr>
                        <tr><td>Gaukeln</td><td>+ 12</td><td></td></tr>
                        <tr><td>Geschäftssinn</td><td>+ 8</td><td></td></tr>
                        <tr><td>Landeskunde Zwerge</td><td>+ 8</td><td></td></tr>
                        <tr><td>Landeskunde Waeland</td><td>+ 8</td><td></td></tr>
                        <tr><td>Lesen von Zauberschrift</td><td>+ 14</td><td></td></tr>
                        <tr><td>Naturkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Pflanzenkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Reiten</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schlösser öffnen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Schreiben Waeliska</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schreiben</td><td>+ 8</td><td></td></tr>
                        <tr><td>Sprache Comentang</td><td>+ 12</td><td></td></tr>
                        <tr><td>Sprache Waeliska</td><td>+ 18</td><td></td></tr>
                        <tr><td>Sprache Valinga</td><td>+ 9</td><td></td></tr>
                        <tr><td>Sprache Twynedisch</td><td>+ 10</td><td></td></tr>
                        <tr><td>Sprache Dvarska</td><td>+ 8</td><td></td></tr>
                        <tr><td>Sprache Alaisch</td><td>+ 8</td><td></td></tr>
                        <tr><td>Stichwaffen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Thaumagraphie</td><td>+ 10</td><td></td></tr>
                        <tr><td>Thaumalogie</td><td>+ 8</td><td></td></tr>
                        <tr><td>Wagenlenken</td><td>+ 12</td><td></td></tr>
                        <tr><td>Zauberkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Zaubern</td><td>+ 17</td><td></td></tr>
                        <tr><td>Zauberstäbe</td><td>+ 11</td><td></td></tr>
                    </table>
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                    </table>
                </div>
                </div>
            </div>
            <!-- right1 column block Fertigkeiten -->
            <div class="right-section">
                <div class="skills-content">
                <div class="skills-container">
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>Abwehr</td><td>+ 15</td><td></td></tr>
                        <tr><td>Resistenz</td><td>+ 15/1</td><td></td></tr>
                        <tr><td>Richtungssinn</td><td>+ 12</td><td></td></tr>
                        <tr><td>Alchimie</td><td>+ 8</td><td></td></tr>
                        <tr><td>Beredsamkeit</td><td>+ 9</td><td></td></tr>
                        <tr><td>Einhandschlagwaffen</td><td>+ 7</td><td></td></tr>
                        <tr><td>Fallen entdecken</td><td>+ 8</td><td></td></tr>
                        <tr><td>Fallenmechanik</td><td>+ 8</td><td></td></tr>
                        <tr><td>Gaukeln</td><td>+ 12</td><td></td></tr>
                        <tr><td>Geschäftssinn</td><td>+ 8</td><td></td></tr>
                        <tr><td>Landeskunde Zwerge</td><td>+ 8</td><td></td></tr>
                        <tr><td>Landeskunde Waeland</td><td>+ 8</td><td></td></tr>
                        <tr><td>Lesen von Zauberschrift</td><td>+ 14</td><td></td></tr>
                        <tr><td>Naturkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Pflanzenkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Reiten</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schlösser öffnen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Schreiben Waeliska</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schreiben</td><td>+ 8</td><td></td></tr>
                        <tr><td>Sprache Comentang</td><td>+ 12</td><td></td></tr>
                        <tr><td>Sprache Waeliska</td><td>+ 18</td><td></td></tr>
                        <tr><td>Sprache Valinga</td><td>+ 9</td><td></td></tr>
                        <tr><td>Sprache Twynedisch</td><td>+ 10</td><td></td></tr>
                        <tr><td>Sprache Dvarska</td><td>+ 8</td><td></td></tr>
                        <tr><td>Sprache Alaisch</td><td>+ 8</td><td></td></tr>
                        <tr><td>Stichwaffen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Thaumagraphie</td><td>+ 10</td><td></td></tr>
                        <tr><td>Thaumalogie</td><td>+ 8</td><td></td></tr>
                        <tr><td>Wagenlenken</td><td>+ 12</td><td></td></tr>
                        <tr><td>Zauberkunde</td><td>+ 8</td><td></td></tr>
                        <tr><td>Zaubern</td><td>+ 17</td><td></td></tr>
                        <tr><td>Zauberstäbe</td><td>+ 11</td><td></td></tr>
                    </table>
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                        <tr><td>&nbsp;</td><td></td><td></td></tr>
                    </table>
                </div>
                </div>
                <div class="senses-row">                    <span><b>Sehen</b> +0</span><span><b>Nachtsicht</b> +0</span><span><b>Hören</b> +0</span><span><b>Riechen/Schmecken</b> +0 &nbsp; <b>Sechster Sinn</b> +0</span>                </div>
            </div>
        </div>
    </div>
</body>
</html>