<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abenteuerblatt - Bjarnfinnur Haberdson</title>
    <link rel="stylesheet" href="shared/export_format_a4_quer.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="header-left">Abenteuerblatt</span>
            <span class="header-right">Datum: 10.11.2024</span>
        </div>
        
        <div class="title-row">
            <img src="shared/images/headerimg.png" alt="Schmuckgrafik" class="header-decoration">
            <div class="info-box">
                <div><strong>Figur</strong> Bjarnfinnur Haberdson &nbsp;&nbsp; <strong>Grad</strong> 18</div>
                <hr>
                <div><strong>Typ</strong> Thaumaturg &nbsp;&nbsp; <strong>GG</strong> 0 &nbsp;&nbsp; <strong>SG</strong> 9</div>
            </div>
            <img src="shared/images/headerimg.png" alt="Schmuckgrafik" class="header-decoration">
        </div>
        
        <div class="flex main-content">
            <!-- Left section -->
            <div class="left-section">
                <!-- Skills tables -->
                <div class="skills-row">
                    <table class="skills-table">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>Richtungssinn</td><td>+ 12</td><td></td></tr>
                        <tr><td>Beredsamkeit</td><td>+</td><td></td></tr>
                        <tr><td>Reiten</td><td>+ 12</td><td></td></tr>
                        <tr><td>Wagenlenken</td><td>+ 12</td><td></td></tr>
                        <tr><td><em>Entdeckung</em></td><td>+</td><td></td></tr>
                        <tr><td>Fallen entdecken</td><td>+ 10</td><td></td></tr>
                        <tr><td><em>Fingerfertigkeit</em></td><td>+</td><td></td></tr>
                        <tr><td>Fallenmechanik</td><td>+ 8</td><td></td></tr>
                        <tr><td>Gaukeln</td><td>+ 12</td><td></td></tr>
                        <tr><td>Schlösser öffnen</td><td>+ 8</td><td></td></tr>
                        <tr><td><em>Sozial</em></td><td>+</td><td></td></tr>
                        <tr><td>Beredsamkeit</td><td>+ 9</td><td></td></tr>
                        <tr><td>Geschäftssinn</td><td>+ 10</td><td></td></tr>
                        <tr><td><em>Waffen</em></td><td>+</td><td></td></tr>
                        <tr><td>Einhandschlagwaffen</td><td>+ 7</td><td></td></tr>
                        <tr><td>Stichwaffen</td><td>+ 8</td><td></td></tr>
                        <tr><td>Zauberstäbe</td><td>+ 11</td><td></td></tr>
                        <tr><td><em>Wissen</em></td><td>+</td><td></td></tr>
                        <tr><td>Alchimie</td><td>+ 10</td><td></td></tr>
                        <tr><td>Landeskunde Zwerge</td><td>+ 10</td><td></td></tr>
                        <tr><td>Landeskunde Waeland</td><td>+ 10</td><td></td></tr>
                        <tr><td>Lesen von Zauberschrift</td><td>+ 16</td><td></td></tr>
                        <tr><td>Naturkunde</td><td>+ 10</td><td></td></tr>
                        <tr><td>Pflanzenkunde</td><td>+ 10</td><td></td></tr>
                    </table>
                    <table class="skills-table" style="width: 100%; height: unset;">
                        <tr>
                            <th>Fertigkeit</th>
                            <th>EW</th>
                            <th>PP</th>
                        </tr>
                        <tr><td>Schreiben Waeliska</td><td>+ 14</td><td></td></tr>
                        <tr><td>Schreiben</td><td>+ 10</td><td></td></tr>
                        <tr><td>Sprache Comentang</td><td>+ 14</td><td></td></tr>
                        <tr><td>Sprache Waeliska</td><td>+ 20</td><td></td></tr>
                        <tr><td>Sprache Valinga</td><td>+ 11</td><td></td></tr>
                        <tr><td>Sprache Twynedisch</td><td>+ 12</td><td></td></tr>
                        <tr><td>Sprache Dvarska</td><td>+ 10</td><td></td></tr>
                        <tr><td>Sprache Alaisch</td><td>+ 10</td><td></td></tr>
                        <tr><td>Thaumagraphie</td><td>+ 10</td><td></td></tr>
                        <tr><td>Thaumalogie</td><td>+ 10</td><td></td></tr>
                        <tr><td>Zauberkunde</td><td>+ 10</td><td></td></tr>
                    </table>
                </div>
            </div>
            
            <!-- Right section -->
            <div class="right-section">                
                <!-- Weapons table -->
                <div class="margin-bottom-3">
                    <table class="weapons-table">
                        <tr>
                            <th>Waffe</th>
                            <th>Fert.<br>wert</th>
                            <th>Schaden</th>
                            <th>Nah</th>
                            <th>Waffe</th>
                            <th>Fert.<br>wert</th>
                            <th>Schaden</th>
                            <th>Nah</th>
                        </tr>
                        <tr>
                            <td>Magierstab</td>
                            <td>+ 10/1</td>
                            <td>1W6+1</td>
                            <td>-</td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dolch</td>
                            <td>+ 8</td>
                            <td>1W6+1</td>
                            <td>-</td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dolch*</td>
                            <td>+ 9</td>
                            <td>1W6+2</td>
                            <td>-</td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dolch*</td>
                            <td>+ 8</td>
                            <td>1W6+1</td>
                            <td>-</td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dolch</td>
                            <td>+ 8</td>
                            <td>1W6+1</td>
                            <td>-</td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Streiaxt</td>
                            <td>+ 7</td>
                            <td>1W6+3</td>
                            <td>-</td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td>Raufen</td>
                            <td>+ 5</td>
                            <td>1W6-2</td>
                            <td>~</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+</td>
                            <td></td>
                            <td></td>
                            <td colspan="4"></td>
                        </tr>
                    </table>
                </div>
                
                <!-- Senses row at bottom -->
                <div class="senses-row">
                    <span>Sehen+6</span>
                    <span>Nachtsicht+6</span>
                    <span>Hören+6</span>
                    <span>Riechen/Schmecken+6</span>
                    <span>Sechster Sinn+6</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
